.contact
  width 100%
  background $white
  padding 25px 0
  height 100vh

  .title,
  .subtitle
    color $apple

  .form,
  .socials
    span(2/5, top)
    margin-top 60px

  .form
    offset(1/5, right)

  .description
    color $apple
    font-weight 300
    font-size 25px
    margin-bottom 20px

  .name,
  .email,
  .message
    display block
    margin-bottom 20px

  .button
    margin-top 20px
    display inline-block

  .social
    background linear-gradient(45deg, $apple 0%, $conifer 100%)
    color $white
    width 30px
    height 30px
    display inline-block
    border-radius 50%
    line-height 30px
    text-align center
    margin-right 10px