.footer
  width 100%
  background linear-gradient(45deg, $apple 0%, $conifer 100%)

  .copyright,
  .logo
    span(1/2, middle)

  .copyright
    color $white
    font-weight 300

  .logo
    text-align right
    padding 20px 0

    img
      max-width 20%