* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
a,
label,
textarea {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  display: block;
  font-size: 0;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 0;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}
.input-green .input-field,
.textarea-green .input-field,
.input-green .textarea-field,
.textarea-green .textarea-field {
  border-bottom: 1px solid #56ab2f;
  color: #56ab2f;
}
.input-green .input-label,
.textarea-green .input-label,
.input-green .textarea-label,
.textarea-green .textarea-label {
  color: #56ab2f;
}
.input-white .input-field,
.textarea-white .input-field,
.input-white .textarea-field,
.textarea-white .textarea-field {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.input-white .input-label,
.textarea-white .input-label,
.input-white .textarea-label,
.textarea-white .textarea-label {
  color: #fff;
}
.button-white {
  color: #56ab2f;
  background: #fff;
}
.button-green {
  color: #fff;
  background: linear-gradient(45deg, #56ab2f 0%, #a8e063 100%);
}
.button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}
.input-group {
  position: relative;
  padding: 0;
  overflow: visible;
  display: inline-block;
}
.input-group .input-field {
  width: 100%;
  padding: 12px 10px 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  outline: none;
  cursor: text;
  background: transparent;
  font-weight: 300;
}
.input-group .input-label {
  position: absolute;
  top: 10px;
  font-weight: 300;
  left: 10px;
  font-size: 15px;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
}
.input-group .input-field:focus ~ .input-label,
.input-group .input-field:valid ~ .input-label {
  transform: scale(0.6);
}
.textarea-group {
  position: relative;
  padding: 0;
  margin: 5px;
  overflow: visible;
  margin-bottom: 25px;
  display: inline-block;
}
.textarea-group .textarea-field {
  width: 100%;
  height: 80px;
  resize: none;
  padding: 12px 10px 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  outline: none;
  cursor: text;
  background: transparent;
  font-weight: 300;
}
.textarea-group .textarea-label {
  position: absolute;
  top: 10px;
  font-weight: 300;
  left: 10px;
  font-size: 15px;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
}
.textarea-group .textarea-field:focus ~ .textarea-label,
.textarea-group .textarea-field:valid ~ .textarea-label {
  transform: scale(0.6);
}
.title,
.subtitle {
  font-weight: 300;
  text-align: center;
}
.title {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.subtitle {
  font-size: 18px;
}
.header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/background.jpg");
}
.header .navigation {
  padding-top: 30px;
}
.header .logo {
  display: inline-block;
  font-size: initial;
  padding: 0;
  vertical-align: middle;
  width: 20%;
}
@media only screen and (max-width: 580px) {
  .header .logo {
    display: inline-block;
    font-size: initial;
    padding: 0;
    vertical-align: top;
    width: 100%;
    text-align: center;
  }
}
.header .menu {
  display: inline-block;
  font-size: initial;
  padding: 0;
  vertical-align: middle;
  width: 80%;
  text-align: right;
}
@media only screen and (max-width: 580px) {
  .header .menu {
    display: inline-block;
    font-size: initial;
    padding: 0;
    vertical-align: middle;
    width: 50%;
    text-align: center;
  }
}
.header .menu-item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}
@media only screen and (max-width: 580px) {
  .header .menu-item {
    display: block;
    margin-top: 30px;
    margin-left: 0;
  }
}
.header .menu-link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.header .title {
  font-size: 40px;
  color: #fff;
  font-weight: 300;
  margin-top: 120px;
  margin-bottom: 30px;
}
.header .more {
  text-align: center;
  padding-bottom: 30px;
}
.filter {
  width: 100%;
  background: linear-gradient(45deg, #56ab2f 0%, #a8e063 100%);
  padding: 25px 0;
}
.filter .city {
  max-width: 240px;
  margin-right: 30px;
}
.filter .button-white {
  margin-left: 10px;
}
.map {
  width: 100%;
  height: 100vh;
}
.about {
  width: 100%;
  background: #fff;
  padding: 25px 0;
  height: 80vh;
}
.about .title,
.about .subtitle {
  color: #56ab2f;
}
.questions {
  width: 100%;
  background: linear-gradient(45deg, #56ab2f 0%, #a8e063 100%);
  padding: 25px 0;
  height: 80vh;
}
.questions .title,
.questions .subtitle {
  color: #fff;
}
.contact {
  width: 100%;
  background: #fff;
  padding: 25px 0;
  height: 100vh;
}
.contact .title,
.contact .subtitle {
  color: #56ab2f;
}
.contact .form,
.contact .socials {
  display: inline-block;
  font-size: initial;
  padding: 0;
  vertical-align: top;
  width: 40%;
  margin-top: 60px;
}
.contact .form {
  margin-right: 20%;
}
.contact .description {
  color: #56ab2f;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 20px;
}
.contact .name,
.contact .email,
.contact .message {
  display: block;
  margin-bottom: 20px;
}
.contact .button {
  margin-top: 20px;
  display: inline-block;
}
.contact .social {
  background: linear-gradient(45deg, #56ab2f 0%, #a8e063 100%);
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}
.footer {
  width: 100%;
  background: linear-gradient(45deg, #56ab2f 0%, #a8e063 100%);
}
.footer .copyright,
.footer .logo {
  display: inline-block;
  font-size: initial;
  padding: 0;
  vertical-align: middle;
  width: 50%;
}
.footer .copyright {
  color: #fff;
  font-weight: 300;
}
.footer .logo {
  text-align: right;
  padding: 20px 0;
}
.footer .logo img {
  max-width: 20%;
}
/*# sourceMappingURL=main.css.map */