.textarea-group
  position relative
  padding 0
  margin 5px
  overflow visible
  margin-bottom 25px
  display inline-block

  .textarea-field
    width 100%
    height 80px
    resize none
    padding 12px 10px 8px
    border-top none
    border-right none
    border-left none
    border-radius 0
    box-shadow none
    font-size 15px
    outline none
    cursor text
    background transparent
    font-weight 300
  
  .textarea-label
    position absolute
    top 10px
    font-weight 300
    left 10px
    font-size 15px
    transform-origin 0 -150%
    transition transform 300ms ease
    pointer-events none

  .textarea-field:focus ~ .textarea-label,
  .textarea-field:valid ~ .textarea-label
    transform scale(0.6)