*
  margin 0
  padding 0
  box-sizing border-box

html,
body
  height 100%

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
label,
textarea
  font-family $roboto

a
  text-decoration none

.container
  row(1024px)

  +below(1024px)
    padding 0 15px