.input-green,
.textarea-green
  .input-field,
  .textarea-field
    border-bottom 1px solid $apple
    color $apple

  .input-label,
  .textarea-label
    color $apple

.input-white,
.textarea-white
  .input-field,
  .textarea-field
    border-bottom 1px solid $white
    color $white

  .input-label,
  .textarea-label
    color $white

.button-white
  color $apple
  background $white

.button-green
  color $white
  background linear-gradient(45deg, $apple 0%, $conifer 100%)